<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;获取帮助</h3>
        <ul>
            <li>本人博客：<a href="https://blog.csdn.net/qq_27574367" target="_blank">https://blog.csdn.net/qq_27574367</a></li>
            <li>邮箱：<a href="" target="_blank">weipingdeng@qq.com</a></li>
            <li>此项目基于 renren-generator 二次定制开发，仅为个人使用，不可商用</li>
        </ul>
    </div>
</div>
</body>
</html>